<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Impress.js Template</title>
    
    <meta name="author" content="Ignace Mouzannar" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="css/impress.css" rel="stylesheet" />
</head>

<body class="impress-not-supported">

<!--
    Fallback message is only visible when there is `impress-not-supported` 
    class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="impress">

    <!-- ROW 1: start -->
    <!-- slide 1 -->
    <div class="step" data-x="0" data-y="0" data-scale="1">
        <p><b class="big">slide 1</b></p>
    </div>

    <!-- slide 2 -->
    <div class="step" data-x="2000" data-y="0" data-scale="1">
        <p><b class="big">slide 2</b></p>
    </div>

    <!-- slide 3 -->
    <div class="step" data-x="4000" data-y="0" data-scale="1">
        <p><b class="big">slide 3</b></p>
    </div>

    <!-- slide 4 -->
    <div class="step" data-x="6000" data-y="0" data-scale="1">
        <p><b class="big">slide 4</b></p>
    </div>
    <!-- ROW 1: end -->

    <!-- ROW 2: start -->
    <!-- slide 5 -->
    <div class="step" data-x="0" data-y="1500" data-scale="1">
        <p><b class="big">slide 5</b></p>
    </div>

    <!-- slide 6 -->
    <div class="step" data-x="2000" data-y="1500" data-scale="1">
        <p><b class="big">slide 6</b></p>
    </div>

    <!-- slide 7 -->
    <div class="step" data-x="4000" data-y="1500" data-scale="1">
        <p><b class="big">slide 7</b></p>
    </div>

    <!-- slide 8 -->
    <div class="step" data-x="6000" data-y="1500" data-scale="1">
        <p><b class="big">slide 8</b></p>
    </div>
    <!-- ROW 2: end -->

    <!-- ROW 3: start -->
    <!-- slide 9 -->
    <div class="step" data-x="0" data-y="3000" data-scale="1">
        <p><b class="big">slide 9</b></p>
    </div>

    <!-- slide 10 -->
    <div class="step" data-x="2000" data-y="3000" data-scale="1">
        <p><b class="big">slide 10</b></p>
    </div>

    <!-- slide 11 -->
    <div class="step" data-x="4000" data-y="3000" data-scale="1">
        <p><b class="big">slide 11</b></p>
    </div>

    <!-- slide 12 -->
    <div class="step" data-x="6000" data-y="3000" data-scale="1">
        <p><b class="big">slide 12</b></p>
    </div>
    <!-- ROW 3: end -->

    <!-- ROW 4: start -->
    <!-- slide 13 -->
    <div class="step" data-x="0" data-y="4500" data-scale="1">
        <p><b class="big">slide 13</b></p>
    </div>

    <!-- slide 14 -->
    <div class="step" data-x="2000" data-y="4500" data-scale="1">
        <p><b class="big">slide 14</b></p>
    </div>

    <!-- slide 15 -->
    <div class="step" data-x="4000" data-y="4500" data-scale="1">
        <p><b class="big">slide 15</b></p>
    </div>

    <!-- slide 16 -->
    <div class="step" data-x="6000" data-y="4500" data-scale="1">
        <p><b class="big">slide 16</b></p>
    </div>
    <!-- ROW 4: end -->

    <div id="overview" class="step" data-x="3000" data-y="2300" data-scale="8">
    </div>

</div>

<script src="js/impress.js"></script>
<script>impress().init();</script>

</body>
</html>
